table#ordersTable tfoot.order_footer th{
    border-top: 1px solid #111;
    text-align: left;
    padding: 8px 10px;
    font-size: 1.2em;
}

table#ordersTable button.action_btn_link{
    position: relative;height: 25px;width: 25px;display: inline-block;padding: 0;
}

table#ordersTable  .feed-destination-edit{
    background: url('/bitrix/js/im/images/im-sprite-v29.png') no-repeat scroll 0px -558px;height: 25px;width: 21px;cursor: pointer;position: relative;display: inline-block;
}

table#ordersTable  .feed-destination-delete{
    background: url('/bitrix/js/im/images/im-sprite-v29.png') no-repeat scroll -14px -62px;height: 25px;width: 21px;cursor: pointer;position: relative;display: inline-block;
}

#ordersTable td.editable input, #ordersTable td.editable select, #ordersTable td.editable textarea, #ordersTable td.editable .bx-crm-edit-crm-entity-field{
    display: none;
}

#ordersTable td.hidden_editable input, #ordersTable td.hidden_editable select, #ordersTable td.hidden_editable textarea, #ordersTable td.hidden_editable .bx-crm-edit-crm-entity-field{
    display: none;
}

#ordersTable tr.enable td.editable span.originalAnswerText{
    display: none;
}

#ordersTable tr.enable td.editable input, #ordersTable tr.enable td.editable select, #ordersTable tr.enable td.editable textarea{
    display: block;
    width: 100%;
}

#ordersTable tr.enable td.editable .bx-crm-edit-crm-entity-field{
    display: inline-block;
}

#editableForm .control_panel .btn{
    padding:5px 8px;background: #d8dfe3;text-decoration: none;cursor: pointer;margin-right: 10px; float: left;
}

#editableForm .control_panel .btn-cancel{
    display: none;
}

#editableForm .control_panel.edit .btn-cancel{
    display: block;
}

#editableForm .control_panel .status_change{
    float: right;
}

#editableForm .control_panel .status_change select{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

#editableForm .control_panel{
    margin: 20px 30px;
    overflow: hidden;
}

#editableForm .pager{
    clear: both;
}