.cl{
	clear:both;
}
.fl{
	float:left;
}
.skudWrapper{
	width:900px;
	position:relative;
	float:left;
}
#ajaxSkudWrapper{
	width:900px;
	position:relative;
	float:left;
}

.dateFilter{
	float:left;
	background-color:#EEF2F4;
	padding:10px;
	margin-bottom:10px;
}
.dateFilter form > div{
	display:inline-block;
}
.filterBlock{
	font-family:"OpenSans-Bold",sans-serif;
	font-size:13px;
	border:solid 1px #ccc;
	height:30px;
	padding:0 10px;
	color:#333;
	cursor:pointer;
	transition: all 0.3s linear 0s;
	margin-right:20px;
}
.filterBlock:hover{
	background-color:#7D858F;
	color:#fff;
}
#skudTable_wrapper{
	clear:none;
	height:40px;
	background-color:#EEF2F4;
	float:left;
	padding:5px;
	margin-bottom:20px;
}
#skudTable{
	margin:10px 0;
}
#skudTable thead td{
	background-color:#535C69;
	color:#fff;
	position:relative;
}

#skudTable tbody tr:nth-child(2n){
	background-color:#EEF2F4;
}
#skudTable td{
	text-align:center;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
#skudTable td.emplName{
	text-align:left;
}
.dataTables_length, .dataTables_filter{
	background-color:#EEF2F4;
	padding:10px;
}
.monthSelect{
	background-color:#EEF2F4;
	height:50px;
	line-height:50px;
	float:left;
	margin-bottom:20px;
	padding:0 10px;
}
.monthSelect span{
	margin:0 10px;
}
.realUserTime{
	width:40px;
	border:solid 1px #ccc;
	transition: all 0.2s ease;
}
.realUserTime.ok{
	background-color:rgba(0,255,0,.3);
}
.realUserTime.error{
	background-color:rgba(255,0,0,.3);
}

#microblog-form .bx-lists-iblock-description{
	display:none;
}
table.data-table thead td, table.data-table th, table.data-table thead th{
	background-color:#fff !important;
}