#skudTable {
	width: 100% !important;
	max-width: 1200px;
}

#ajaxSkudWrapper {
	width: 100% !important;
	max-width: 1200px;
}

.fr {
	float: right;
}

.monthSelect {
	background-color: transparent;
}

.monthSelect {
	height: auto;
	line-height: 1;
	margin-bottom: 0;
	padding: 0;
	position: relative;
}

.data-table {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1000;
}

.date-picker-wrapper .drp_top-bar .apply-btn {
	position: relative;
	top: 0;
	right: 0;
}

.date-picker-wrapper .drp_top-bar .default-top, .date-picker-wrapper .drp_top-bar.normal .normal-top {
	display: none;
}

#skudTable_wrapper {
	display: none;
}

.filter-wrap {
	overflow: hidden;
}

#skudTable {
	margin-top: 20px;
}

#skudTable td, #skudTable th {
	font-size: 13px;
	line-height: 18px;
	color: #7F858E;
	border-bottom: 1px solid rgba(127, 133, 142, 0.2);
	padding: 10px;
	text-align: right;
}

#skudTable td:first-child, #skudTable th:first-child {
	text-align: left;
	padding: 10px 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.input-block input {
	height: 22px;
	width: 237px;
	border: 1px solid #7F858E;
	font-size: 13px;
	padding: 0 10px;
}

.date-open {
	font-size: 14px;
	line-height: 18px;
	color: #7F858E;
}

.monthSelect a:first-child {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 6px 4px 0;
	border-color: transparent #7F858E transparent transparent;
	display: inline-block;
	text-indent: -99999px;
	margin-right: 10px;
	position: relative;
	top: 7px;
}


.monthSelect a:nth-child(3) {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 6px;
	border-color: transparent transparent transparent #7F858E;
	display: inline-block;
	text-indent: -99999px;
	margin-left: 10px;
	position: relative;
	top: 7px;
}

table.data-table thead td, table.data-table th, table.data-table thead th {
	background-color:#fff;
}
